@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.background {
    margin: 0;
    padding: 0;
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('https://res.cloudinary.com/dbujjqfq0/image/upload/v1761754938/wp5823861_ttezml.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.mainTitle {
    font-family: 'Fontdiner Swanky', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 100px;
}

.subtitle {
    font-family: 'Quantico', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    border: 2px solid rgba(0,0,0,0.15);
    border-radius: 50px;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(245, 245, 220, 0.2);
    box-shadow: 0 0 16px 4px rgba(0,0,0,0.60);
    backdrop-filter: blur(10px);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
      box-sizing: border-box;
}

.mode-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 360px));
  gap: 40px 60px;
  width: 100%;
  max-width: fit-content;
  margin-top: 12px;
}


/*This button style below is from https://codepen.io/micku7zu/pen/LYGPrzK, credits to the author Mickael Jeanroy*/
.buttonMain {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat, #004dff;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.buttonMain:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.buttonMain:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.buttonMain {
  font-weight: bold;
  font-size: 3.5rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}